{
    "auth": {
        "username": "user@example.com",
        "password": ""
    },
    "account_id" : "-N4Y0mahO9Q-KKErJWEz",
    "phone_number": "1111111111",
    "low_data_warning_bytes": 52428800,
    "logging": {
        "version": 1,
        "handlers": {
            "ntfyHandler": {
                "class": "ntfy_handler.NtfyHandler",
                "level": "INFO",
                "topic_name": "good2go-alerts",
                }
            },
        "loggers": {
            "good2go_plan_montior": {
                "handlers": ["ntfyHandler"],
                "level": "INFO"
            }
        }
    }
}
